.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ec9b00;
    background-image: url('/images/orange-descent.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    font-size: x-large;
}

h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"]{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid black;
    font-size: large;
}

